{% extends "layouts/manager/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                <img src="/static/assets/img/illustrations/employee.svg">
                            </div>
                            <div class="d-sm-none">
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Employees Count</h2>
                                <h3 class="fw-extrabold mb-2">{{employee_count}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                <img src="/static/assets/img/illustrations/job.svg">
                            </div>
                            <div class="d-sm-none">
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Active Jobs</h2>
                                <h3 class="fw-extrabold mb-2">{{job_count}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                <img src="/static/assets/img/illustrations/forms.svg">
                            </div>
                            <div class="d-sm-none">
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Unresolved Complaints</h2>
                                <h3 class="fw-extrabold mb-2">{{complaint_count}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Employees</h2>
                    <a href="{{url_for('manager_blueprint.manage_employees')}}" class="btn btn-sm btn-primary">See all</a>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush list my--3">
                        {% for employees in employee[0:5] %}
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                                <div class="col-auto ms--2">
                                    <h4 class="h6 mb-0">
                                        <a href="#">{{employees.first_name}} {{employees.last_name}}</a>
                                    </h4>
                                    <div class="d-flex align-items-center">
                                        <small>{{employees.trn}}</small>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <a href="{{url_for('manager_blueprint.view_employee', trn=employees.trn)}}" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path></svg>
                                        View
                                    </a>
                                </div>
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Active Jobs</h2>
                    <a href="{{url_for('manager_blueprint.manage_jobs')}}" class="btn btn-sm btn-primary">See all</a>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush list my--3">
                        {% for jobs in job[0:5] %}
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                                <div class="col-auto ms--2">
                                    <h4 class="h6 mb-0">
                                        <a href="#">Job ID: {{jobs.ref_number}}</a>
                                    </h4>
                                    <div class="d-flex align-items-center">
                                        <medium>Description: {{jobs.description}}</medium>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small>{{jobs.fk_supervisor}}</small>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <a href="{{url_for('manager_blueprint.view_jobs', id=jobs.ref_number)}}" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path></svg>
                                        View
                                    </a>
                                </div>
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Complaints</h2>
                    <a href="{{url_for('manager_blueprint.manage_complaints')}}" class="btn btn-sm btn-primary">See all</a>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush list my--3">
                        {% for complaints in complaint[0:5] %}
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                                <div class="col-auto ms--2">
                                    <h4 class="h6 mb-0">
                                        <a href="#">Job ID: {{complaints.fk_job}} </a>
                                    </h4>
                                    <div class="d-flex align-items-center">
                                        <medium>Date:{{complaints.date}}</medium>
                                    </div>
                                </div>
                                
                                <div class="col text-end">
                                    <a href="{{url_for('manager_blueprint.view_complaints', id=complaints.fk_job, resident=complaints.fk_resident, date=complaints.date)}}" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path></svg>
                                        View
                                    </a>
                                </div>
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} 
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/static/assets/js/datatables-simple-demo.js"></script>
{% endblock javascripts %}
