{% extends 'layouts/manager/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
<!-- Page content -->
<br>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Job </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Job information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Reference Number</label>
                    <input type="text" id="input-username" class="form-control"value ="{{ jobs.ref_number }}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Start Date</label>
                    <input type="date" id="input-username" class="form-control"value ="{{ jobs.job_start_date }}" readonly>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">End Date</label>
                    {%if jobs.job_end_date%}
                    <input type="date" id="input-username" class="form-control"value ="None" readonly>
                    {%else%}
                    <input type="date" id="input-username" class="form-control"value ="{{ jobs.job_end_date }}" readonly>
                    {%endif%}
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Location Information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Street Number</label>
                    <input type="text" id="input-username" class="form-control"value ="{{ jobs.street_number }}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Street Name</label>
                    <input type="text" id="input-username" class="form-control"value ="{{ jobs.street_name }}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-username" class="form-control"value ="{{ jobs.city }}" readonly>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Parish</label>
                    <input type="text" id="input-username" class="form-control"value ="{{ jobs.parish }}" readonly>
                  </div>
                  <br>
                </div>
                <br>
                <h6 class="heading-small text-muted mb-4">More information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Supervisor</label>
                        <input type="text" id="input-username" class="form-control"value ="{{ jobs.fk_supervisor }}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Original Job</label>
                        <input type="text" id="input-username" class="form-control"value ="{{ jobs.fk_original_job }}" readonly>
                      </div>
                    </div><div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-address">Description</label>
                          <input type="text" id="input-username" class="form-control"value ="{{ jobs.description }}" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="col-12">
              <a class="btn btn-primary" onclick="history.back()" role="button">Return</a>  
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}